.user-profile {
  margin: auto;
  .example-card {
    padding: 0px;
    width: 350px;
    margin: 16px auto;
    .user-header {
      height: 150px;
      background-size: cover;
      background-position: center center;
      filter: grayscale(80%);
    }
    .card-header {
      padding: 16px 16px 0px 0px;
      .mat-card-header-text {
        margin: 0;
      }
    }
    .card-content {
      padding: 16px;
      .items {
        .item {
          margin: 8px 0px;
          display: flex;
          align-items: center;
          .text {
            margin-left: 8px;
          }
        }
      }
    }
    .card-actions {
      padding: 0px 16px 16px;
    }
    button {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
